.main
{
   width:50%;
    margin-left: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 20px;
    background-color: rgb(152, 171, 255);
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
   
    font-family: Arial, Helvetica, sans-serif;
    
}
.heading
{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.form-group
{
  margin-top: 10px;
}

label
{
  font-size: 15px;
  line-height: 1em;
  
}
.form-control
{
  font-size: 1.3em;
  color: slateblue;
}
.submit
{
    color: white;
    position: absolute;
    left:35%;
    background-color: rgb(250, 154, 28);
    font-size: 1.1em;
    margin-top: 15px;
    width:30%;
    border-radius: 10px;
    border: 1px solid white;
}
#section
{
  display: none;
}
#details
{
  background-color:white;
}
.vats
{
    font-size: 15px;
    text-align: center;
    color: brown;
}
.success
{
    position: relative;
    animation-name: changebg;
    align-items: center;
    border-radius: 5px;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}